<link rel="stylesheet" type="text/css" href="form.css">

<div class='containerForm'>
    <%= form_for(@recipe, html: {:class => 'div_form'}) do |f| %>
        <div  class='fieldForm'>
            <%= f.label :Nome, class:"labelFor" %><br/>      
        </div>

        <div class='fieldForm'>
            <%= f.text_field :name, class:"fieldName" %>
        </div>

        <div  class='fieldForm'>
            <%= f.label :Ingredientes, class:"labelFor"  %><br/>  
        </div>

        <div class='fieldForm'>
            <%= f.text_area :stuff, class:"fieldStuff" %>
        </div>

        <div class='fieldForm'>
            <%= f.label :Tipo, class:"labelFor" %><br/>
        </div>

        <div class='fieldForm'>
            <%= f.select :kind, Recipe::KIND, prompt: 'Escolha o tipo', class:"fieldName" %>
        </div>

        <div class='fieldForm'>
            <%= f.label :Calorias, class:"labelFor" %><br/>
        </div>

        <div class='fieldForm'>
            <%= f.number_field :calories, class:"fieldName" %>
        </div>

        <div  class='fieldForm'>
            <%= f.label :Modo_de_preparo, class:"labelFor"  %><br/>  
        </div>

        <div class='fieldForm'>
            <%= f.text_area :prepare_mode, class:"fieldStuff" %>
        </div>

        <div class='fieldForm'>
            <%= f.label :Tempo_de_preparo, class:"labelFor" %><br/>
        </div>
        <div class='fieldForm'>
            <%= f.time_select :duration %>
        </div>

        <div class='fieldForm'>
            <%= f.label :Porção, class:"labelFor" %><br/>
        </div>

        <div class='fieldForm'>
            <%= f.text_field :portion, class:"fieldName" %>
        </div>

        <div class='fieldForm'>
            <%= f.label :Custo, class:"labelFor" %><br/>
        </div>

        <div class='fieldForm'>
            <%= f.number_field :cost, class:"fieldName" %>
        </div>

        <div class='fieldForm'>
             <%= f.label :Poster, class:"labelFor" %><br/>
        </div>

        <div class='fieldForm'>
            <%= f.text_field :poster, placeholder: '.JPEG OU .PNG' , class:"fieldName" %>
        </div>
  
        <div class='buttonContainerForm'>
            
            <div class='SubmitContainerButton'>
                <%= f.submit 'Confirmar', :class => 'SubmitButton' %>
            </div>

            <div class='CancelButton'>
                <%= link_to 'Cancelar', root_path, :class => 'btn'%>
            </div>
            
            
        </div>

    <% end %>   
</div>
 