<link rel="stylesheet" type="text/css" href="index.css">

<div class='containerIndex' >

    <div class='contentIndex'>

        <div class='menu' >

            <div>
                <h1><%= pluralize(@recipes.size, 'Receita','Receitas' ) %></h1>
            </div>

            <div class='button'>
                <%= link_to 'Nova receita', new_recipe_path, class: "btn" %>
            </div>

        </div>
    <% @recipes.each do |recipe| %>
        <div class='post'>            
            
                <div class='postContent'>
                
                    <div class='image'>
                        
                        <%= imagem(recipe) %>
                
                    </div>

                    <div class='descript'>
                
                        <h2><%=  link_to recipe.name, recipe_path(recipe) , class: "title" %></h2>
                        <p>
                            <%= truncate(recipe.stuff, length: 50, separator: ' ') %>
                        </p>
                        
                        <p>
                            Calorias: <%= formata_caloria(recipe)%>
                        </p>
                        <p>
                            Tempo de preparo: <%= recipe.duration.to_formatted_s(:time) %>min
                        </p>

                        <p>
                            Custo do Prato: <%= number_to_currency(recipe.cost) %>
                        </p>
                
                    </div>
                
                </div>
            
        
        </div>
    <% end %>

    </div>

</div>
